{% extends 'base.html.twig' %}

{% block title %}Login - SnowTricks{% endblock %}

{% block body %}
<h1 class="text-center fs-1 mt-5 mb-5">Login</h1>

<div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show my-3" role="alert">
            <i class="bi bi-check-circle-fill"></i> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <div class="text-center border shadow rounded-4 p-4 mb-5">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        
            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            
            <div class="form-group mb-3">
                <label class="form-label fs-3" for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control w-75 text-center mx-auto" autocomplete="email" required autofocus>
            </div>

            <div class="form-group mb-4">
                <label class="form-label fs-3" for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control w-75 text-center mx-auto" autocomplete="current-password" required>
            </div>
        
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        
            <button type="submit" class="btn btn-light mb-3">Login</button>

            <div class="mb-3">
                <a class="fs-5" href="{{ path('app_register') }}">Register</a>
            </div>

            <div class="mb-0">
                <a class="fs-5" href="{{ path('app_forgot_password_request') }}">Forgot Password ?</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
