{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }} - SnowTricks{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12 offset-md-2 col-md-8">
            <div class="d-flex justify-content-between align-items-center py-3">
                <h1 class="text-white fs-1 mb-0">{{ trick.name }}</h1>

                {% if app.user %}
                <div class="d-flex justify-content-between">
                    <a href="{{ path('app_trick_edit', {'id': trick.id}) }}"><span
                            class="badge text-bg-warning py-2 me-3 fs-6"><i class="fas fa-edit"></i></span></a>

                    {{ include('trick/_delete_form.html.twig') }}
                </div>
                {% endif %}
            </div>

            <img class="shadow img-fluid w-100 mb-3" src="{{ asset('uploads/illustrations/' ~ trick.illustration) }}" alt="">

            {% if app.user %}
            <button type="button" class="badge text-bg-success py-2 fs-6 border-0 mb-3" data-bs-toggle="modal"
                data-bs-target="#addMediaModal"><i class="fas fa-plus"></i> Add Media</button>

            <!-- Modal -->
            <div class="modal fade" id="addMediaModal" tabindex="-1" aria-labelledby="addMediaModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <p class="modal-title fs-5 text-dark" id="addMediaModalLabel">Add Media</p>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center text-dark p-4">
                            {{ include('media/_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="row g-3 mb-3">
                {% if trick.medias|length != 0 %}
                {% for media in trick.medias %}
                {% if media.type == 0 %}
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="position-relative">
                        <img class="shadow img-fluid w-100" src="{{ asset('uploads/medias/' ~ media.link) }}" alt="">

                        {% if app.user %}
                        <div class="p-1 position-absolute top-0 end-0">
                            {{ include('media/_delete_form.html.twig') }}
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                {% endfor %}

                <div class="col-12 m-0"></div>

                {% for media in trick.medias %}
                {% if media.type == 1 %}
                <div class="col-12 col-lg-6">
                    <div class="position-relative">
                        <video class="img-fluid w-100" controls>
                            <source src="{{ asset('uploads/medias/' ~ media.link) }}">
                        </video>

                        {% if app.user %}
                        <div class="p-1 position-absolute top-0 end-0">
                            {{ include('media/_delete_form.html.twig') }}
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                {% else %}
                <h2 class="text-center mb-0">No medias found</h2>

                <div>
                    <hr class="m-0">
                </div>
                {% endif %}
            </div>

            <div class="text-white mb-3">
                {{ trick.description }}
            </div>

            <div class="text-center text-white mb-3">
                <span class="badge text-bg-light py-2 fs-6 mb-1"><i class="fas fa-snowboarding"></i> {{ trick.category
                    }}</span>
                <span class="badge text-bg-light py-2 fs-6 mb-1"><i class="fas fa-user"></i> {{ trick.user }}</span>
                <span class="badge text-bg-light py-2 fs-6 mb-1"><i class="fas fa-calendar"></i> {{
                    trick.createdAt|date('d/m/Y') }}</span>
            </div>

            <hr>

            {% if app.user %}
            {{ include('comment/_form.html.twig') }}
            <hr>
            {% else %}
            <a href="{{ path('app_login') }}">Login</a> to add a comment.
            <hr>
            {% endif %}

            <div id="commentSection"></div>

            {% if comments|length != 0 %}
            <h2 class="text-center mb-3">List of comments</h2>

            {% for comment in comments %}
            <div class="shadow rounded mb-3 row">
                <div class="col-2 col-lg-1">
                    {% if comment.user.illustration %}
                    <img class="img-fluid w-100 pt-3" src="{{ asset('uploads/profiles/' ~ comment.user.illustration) }}"
                        alt="">
                    {% else %}
                    <img class="img-fluid w-100 pt-3" src="{{ asset('img/default_avatar.png') }}" alt="">
                    {% endif %}
                </div>
                <div class="p-3 col-10 col-lg-11">
                    <div class="text-white-50 d-flex justify-content-between mb-0">
                        <div><b>{{ comment.user }}</b> - {{ comment.createdAt|date('Y/m/d H:i')}}</div>
                        {% if app.user %}
                            {% if app.user.id == comment.user.id %}
                            <div>{{ include('comment/_delete_form.html.twig') }}</div>
                            {% endif %}
                        {% endif %}
                    </div>
                    <p class="mb-0"><b>{{ comment.content }}</b></p>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h2 class="text-center mb-3">No comments found</h2>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}